.footer {
    padding-bottom: 60px;
    background-color: #AB8261;
    height: 100%;
    color: var(--fonovyy-svetlyy);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.footer__menu {
    display: grid;
    grid-template-columns: 0.8fr 0.9fr 0.9fr auto;
    gap: 0px;
    align-items: center;
}

.footer__menu-item-socials {
    gap: 10px;
    justify-self: start;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 140px;
}

.footer__socials {
    transition-duration: 0.3s;
}

.footer__socials:hover {
    fill: var(--akcentnyy);
}

.footer__socials-inst:hover path {
    fill: var(--akcentnyy);
}

.footer-nav {
    max-height: 112px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-nav-item {
    z-index: 1;
    position: relative;
}

.footer-nav-item::before {
    content: '';
    position: absolute;
    top: -14px;
    left: -14px;
    height: 34px;
    width: 34px;
    border-radius: 100%;
    background-color: var(--akcentnyy);
    z-index: -1;
    opacity: 0;
    transition-duration: .6s;
}

.footer-nav-item:hover:before {
    opacity: 1;
}

.footer__menu-item:last-child {
    margin-top: 65px;
}

.footer__menu-item:first-child {
    margin-top: 40px;
    display: grid;
}

#footer-link {
    color: var(--fonovyy-svetlyy)
}

.footer__menu-item {
    align-self: flex-start;
    margin-top: 65px;
    align-items: center;
    text-align: start;
}

.footer-timeinf {
    margin-bottom: 10px;
    display: flex;
    gap: 8px;
}

.footer-geoinf {
    display: flex;
    gap: 8px;
}

.footer__menu-item-tel {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.6;
    text-transform: uppercase;
    color: var(--fonovyy-svetlyy)
}

.footer__menu-item-root {
    margin-top: 47px;
    display: flex;
    gap: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #dec5b1;
    margin-left: 9px;
}
