:root {
    --akcentnyy: #ffa55c;
    --akcentnyy-2: #ceaad0;
    --fonovyy: #ffe0cb;
    --fonovyy-svetlyy: #fff9f4;
    --zagolovochnyy: #1f1711;
    --nabornyy: #312c27;
    --fioletovyy: #704174;
    --disabled: #e1d9e1;
    --inputy: #ac907a;
    --font-family: "Montserrat", sans-serif;
    --second-family: "Gabriola", sans-serif;
    --third-family: "Inspiration", sans-serif;
    --transition: all .4s;
}

html {
    scroll-behavior: smooth;
}

.body {
    background-color: var(--fonovyy-svetlyy);
    ;
    line-height: 1.5;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--nabornyy);
    font-size: 16px;
}

.body--opened-menu {
    overflow: hidden;
}

.wrapper {
    width: 100%;
    max-height: 100%;
    overflow: visible;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1310px;
    padding: 0px 15px;
    margin: 0px auto;
}

a {
    text-decoration: none;
    color: var(--nabornyy);
}
