
.modal {
    position: fixed;
    inset: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000c1;
    visibility: hidden;
    transition: all 0.3s;
    opacity: 0;
}

.modal__window {
    position: relative;
    width: 428px;
    min-height: 491px;
    padding: 133px 60px 60px 60px;
    border-radius: 20px;
    background: var(--fonovyy-svetlyy);
}

.modal__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 42px;
    line-height: 0.9;
    color: var(--zagolovochnyy);
    margin-bottom: 10px;
}

.modal__text {
    margin-bottom: 30px;
}

.modal__window-img {
    max-width: 100%;
    position: absolute;
    right: 92px;
    bottom: 373px;
}

.modal__close-btn svg {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.modal__form-label {
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.modal__form-label span {
    position: absolute;
    font-size: 11px;
    top: 12px;
    left: 28px;
    color: #ac907a;
    transition: var(--transition);
    opacity: 0;
    visibility: hidden;
}

#modal__form-email {
    display: block;
    width: 100%;
    border: 1px solid var(--inputy);
    border-radius: 100px;
    padding: 19px 28px;
    width: 308px;
    height: 62px;
    transition-duration: 0.3s;
    transition: var(--transition);
}

#modal__form-email:hover {
    border: 1px solid var(--akcentnyy);
}

#modal__form-email:focus {
    padding: 26px 28px 12px 28px;
}

#modal__form-email:focus+span {
    opacity: 1;
    visibility: visible;
}

#modal__form-email:hover::placeholder {
    color: var(--akcentnyy);
}

#modal__form-email::placeholder {
    color: #ac907a;
    transition: var(--transition);
}

#modal__form-submit {
    border-radius: 60px;
    padding: 18px 36px;
    width: 308px;
    height: 62px;
    background: var(--akcentnyy);
    transition: 0.6s;
    cursor: pointer;
}

#modal__form-submit:hover {
    background: #ff9138;
}

.modal--opened {
    opacity: 1;
    visibility: visible;
}
