:root {
    --akcentnyy: #ffa55c;
    --akcentnyy-2: #ceaad0;
    --fonovyy: #ffe0cb;
    --fonovyy-svetlyy: #fff9f4;
    --zagolovochnyy: #1f1711;
    --nabornyy: #312c27;
    --fioletovyy: #704174;
    --disabled: #e1d9e1;
    --inputy: #ac907a;
    --font-family: "Montserrat", sans-serif;
    --second-family: "Gabriola", sans-serif;
    --third-family: "Inspiration", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.body {
    background-color: var(--fonovyy-svetlyy);
    ;
    line-height: 1.5;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--nabornyy);
    font-size: 16px;
}
.body--opened-menu {
    overflow: hidden;
}

.wrapper {
    width: 100%;
    max-height: 100%;
    overflow: visible;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1310px;
    padding: 0px 15px;
    margin: 0px auto;
}

a {
    text-decoration: none;
    color: var(--nabornyy);
}

.header {
    padding-top: 10px;
    background: url("../img/decor/bg-header.png") 50% 100% / cover no-repeat;
}
.header__logo {
    z-index: 11;
}
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.header__nav-menu-list {
    min-width: 514px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    font-family: var(--font-family);
    color: var(--nabornyy);
    font-weight: 400;
}

.header__nav-item {
    position: relative;
    z-index: 1;
}

.header__nav-item::before {
    content: '';
    position: absolute;
    top: -14px;
    left: -14px;
    height: 34px;
    width: 34px;
    border-radius: 100%;
    background-color: var(--akcentnyy);
    z-index: -1;
    opacity: 0;
    transition-duration: .6s;
}

.header__nav-item:hover:before {
    opacity: 1;
}
.burger__icon {
    z-index: 11;
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
}
.burger__icon span {
    background-color: var(--zagolovochnyy);
    width: 30px;
    height: 3px;
    border-radius: 100px;
    position: relative;
    transition: all 0.4s;
}
.burger__icon span::after,
.burger__icon span::before {
    content: '';
    position: absolute;
    background-color: var(--zagolovochnyy);
    width: 30px;
    height: 3px;
    border-radius: 100px;
    transition: all 0.4s;
}
.burger__icon span::before {
    top: -8px;
}
.burger__icon span::after {
    bottom: -8px;
}
.body--opened-menu .burger__icon span {
    background: transparent;
}
.body--opened-menu .burger__icon span::before {
    top: 0px;
    transform: rotate(45deg);
}
.body--opened-menu .burger__icon span::after {
    bottom: 0px;
    transform: rotate(-45deg);
}
.welcome__block {
    padding: 50px 0 140px;
    display: flex;
}

.welcome__text {
    max-width: 519px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.welcome__text-start {
    color: #B197B3;
    text-transform: uppercase;
    line-height: 1.6;
    margin-bottom: 20px;
}

.welcome__text-start span::after {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #b197b2;
    display: inline-block;
    margin: 4px 10px;
}

.welcome__text-start span:last-child::after {
    content: none;
}

.welcome__text-title {
    font-family: 'Gabriola';
    font-size: 74px;
    line-height: 0.82;
    margin-bottom: 30px;
}

.welcome__text-p {
    margin-bottom: 40px;
}

.welcome__text-button {
    border-radius: 60px;
    padding: 18px 36px;
    width: 100%;
    max-width: 360px;
    height: 62px;
    background: var(--akcentnyy);
    border: none;
    font-family: var(--font-family);
    font-weight: 500;
    line-height: 1.6;
    text-align: center;
    color: var(--nabornyy);
    font-size: 16px;
    transition-duration: .6s;
}

.welcome__text-button:hover {
    background: #ff9138;
}

.welcome__img-block {
    position: relative;
    margin-right: 247px;
    margin-left: 137px;
}
.welcome__img-block>img {
    max-width: 100%;
}
.welcome__img-control {
    position: absolute;
    bottom: 11%;
    left: calc(100% - 39px);
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 200px;
    text-align: left;
    margin-top: 15px;
}

.welcome__img-control--mobile {
    display: none;
}
.welcome__img-button {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background: #FFE0CB;
    box-shadow: 0px 4px 20px rgba(184, 148, 126, 0.3);
    position: relative;
}
.welcome__img-button::after {
    content: '';
    position: absolute;
    inset: 5px;
    border: 1px solid var(--akcentnyy);
    border-radius: 50%;
    opacity: 0;
    transition-duration: 0.6s;
}
.welcome__img-button:hover::after {
    opacity: 100;
}
.welcome-img {
    position: absolute;
    top: 25px;
    left: 27px;

}
.welcome__img-button-p {
    max-width: 112px;
    position: absolute;
    left: calc(10px + 70%);
}
.main {
    flex-grow: 1;
}

.aboutUs__block {
    display: flex;
    margin-top: 140px;
    margin-bottom: 140px;
}

.aboutUs__imgBlock {
    position: relative;
    margin-right: 53px;
}

.aboutUs__imgBlock-button {
    border-radius: 20px;
    padding: 15px 20px;
    max-width: 299px;
    max-height: 108px;
    background: rgba(149, 123, 151, 0.9);
    position: absolute;
    bottom: 25px;
    left: 30px;
    opacity: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutUs__imgBlock-button--svg {
    width: 78px;
    height: 78px;
    border-radius: 100%;
    background-color: var(--fonovyy-svetlyy);
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutUs__imgBlock-button--text {
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--fonovyy-svetlyy);
    max-width: 171px;
}

.aboutUs__information-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 74px;
    line-height: 0.82;
    color: var(--zagolovochnyy);
}

.aboutUs__information-undertitle {
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--nabornyy);
    margin-bottom: 30px;
}

.aboutUs__information-text {
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--nabornyy);
    margin-bottom: 40px;
    max-width: 623px;
}

.aboutUs__information-blocks {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--nabornyy)
}

.aboutUs__information-blocks--block {
    display: flex;
    align-items: center;
    border-radius: 20px;
    width: 296px;
    height: 130px;
    background: var(--fonovyy);
    justify-content: center;
}

.aboutUs__information-blocks--block-svg {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutUs__information-blocks--block-text {
    max-width: 173px;
    margin-left: 15px;
}

.program__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 74px;
    line-height: 0.82;
    color: var(--zagolovochnyy);
    margin-bottom: 20px;
}

.program__duration {
    display: flex;
    margin-bottom: 60px;
    justify-content: space-between;
    align-items: center;
}

.program__duration-text {
    max-width: 374px;
}

.program__duration-weeks {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 624px;
}

.program__duration-week {
    font-size: 16px;
    border-radius: 100px;
    padding: 14px 30px;
    max-width: 133px;
    max-height: 52px;
    box-shadow: 0 4px 20px 0 #cec3b94d;
    background: var(--fonovyy-svetlyy);
    text-align: center;
    transition-duration: 0.6s;
    border: none;
}

.program__duration-week:hover {
    background: #ffe0cb;
}

.program__opener {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 42px;
    line-height: 0.9;
    color: var(--zagolovochnyy);
    margin-bottom: 30px;
    border: 1px solid var(--akcentnyy);
    border-radius: 20px;
    padding: 40px 30px;
    width: 1280px;
    max-height: 118px;
    background: var(--fonovyy-svetlyy);
}

.program__adv {
    margin-top: 10px;
    margin-bottom: 140px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.program__adv-cost {
    display: grid;
    grid-template-columns: 287px 213px;
    grid-template-rows: 232px 62px;
    gap: 40px;
}

.adv-cost {
    max-height: 232px;
}

.adv-cost__discount {
    border-radius: 20px;
    width: 287px;
    height: 232px;
    background: var(--fonovyy);
    padding: 40px 81px 132px 40px;
    box-sizing: border-box;
}

.adv-cost__discount-p1 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: var(--nabornyy);
}

.adv-cost__discount-p2 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 74px;
    line-height: 0.82;
    text-align: center;
    color: var(--akcentnyy);
    margin-bottom: 7px;
    margin-left: 31px;
}

.adv-cost__discount-p3 {
    margin-left: 85px;
}

.adv-cost__without {
    margin-bottom: 44px;
    max-width: 173px;
}

.adv-cost__without-p1 {
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 1.6;
    text-transform: uppercase;
    color: var(--akcentnyy-2);
    margin-bottom: 5px;
}

.adv-cost__without-p2 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 32px;
    line-height: 0.9;
    color: var(--nabornyy);
}

.adv-cost__with {
    max-width: 173px;
}

.adv-cost__with-p1 {
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 1.6;
    text-transform: uppercase;
    color: var(--akcentnyy-2);
    margin-bottom: 5px;
}

.adv-cost__with-p2 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 50px;
    line-height: 0.9;
    color: var(--zagolovochnyy);
}

.adv-cost__button {
    border-radius: 60px;
    padding: 18px 36px;
    width: 501px;
    height: 62px;
    background: var(--akcentnyy);
    border: none;
    line-height: 1.6;
    font-size: 16px;
    font-weight: 500;
    transition-duration: .6s;
}

.adv-cost__button:hover {
    background: #ff9138;
}

.program__adv-img {
    margin-left: 92px;
}

.gallery__main {
    display: flex;
    margin-bottom: 40px;
}

.gallery__main-img {
    margin: 0px 110px 0px 76px;
}

.gallery__head-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 74px;
    line-height: 0.82;
    color: var(--zagolovochnyy);
    margin-bottom: 20px;
}

.gallery__head {
    max-width: 380px;
}

.gallery__head-button {
    margin-top: 189px;
    margin-left: 74px;
}

.button-nunmer {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 50px;
    line-height: 0.9;
    color: var(--zagolovochnyy);
}

.gallery__slider-img1 {
    margin-right: 360px;
}

.social {
    margin-top: 140px;
}

.social__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 74px;
    line-height: 0.82;
    color: var(--zagolovochnyy);
    max-width: 624px;
    margin-bottom: 20px;
}

.social__text {
    max-width: 623px;
    margin-bottom: 419px;
}

.form-block {
    position: relative;
    height: 786px;
    background-image: url(/img/изображение.png);
}

.form {
    background: url("../img/decor/bg-footer.png") no-repeat;
}

.form-inner {
    max-width: 420px;
    position: absolute;
    top: 157px;
    right: 202px;
}

.form-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 74px;
    line-height: 0.82;
    color: var(--zagolovochnyy);
    margin-bottom: 20px;
}

.form-img1 {
    position: absolute;
    top: 140px;
    left: 0;
}

.form-img2 {
    position: absolute;
    right: 0;
    top: 195px;
}

.form-input {
    margin-top: 40px;
}

.form-input {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

#form__name {
    padding: 19px 28px;
    border-radius: 100px;
    border: 1px solid var(--inputy);
    color: var(--inputy);
    margin-bottom: 10px;
    font-size: 16px;
}

#form__tel {
    padding: 19px 28px;
    border-radius: 100px;
    border: 1px solid var(--inputy);
    color: var(--inputy);
    font-size: 16px;
}

#form__submit {
    padding: 18px 36px;
    border-radius: 100px;
    border: none;
    color: var(--nabornyy);
    background-color: var(--akcentnyy);
    margin-bottom: 140px;
    font-size: 16px;
    transition-duration: .6s;
}

#form__submit:hover {
    background: #ff9138;
}

#form__checkbox {
    position: relative;
    width: 15px;
    border: 1px solid var(--inputy);
}

.form__checkbox-text {
    position: absolute;
    max-width: 288px;
    bottom: 200px;
    right: 106px;
    font-size: 13px;
}

.footer {
    padding-bottom: 60px;
    background-color: #AB8261;
    height: 100%;
    color: var(--fonovyy-svetlyy);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.footer__menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
}

.footer__menu-item-1 {
    margin-top: 30px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    max-height: 163px;
    justify-self: center;
    text-align: center;
}
.footer__menu-item-1-text {
    max-width: 250px;
}
.footer__menu-item-1-svgs {
    gap: 10px;
    justify-self: center;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 138px;
}

.footer-nav {
    max-height: 112px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-nav-item {
    z-index: 1;
    position: relative;
}

.footer-nav-item::before {
    content: '';
    position: absolute;
    top: -14px;
    left: -14px;
    height: 34px;
    width: 34px;
    border-radius: 100%;
    background-color: var(--akcentnyy);
    z-index: -1;
    opacity: 0;
    transition-duration: .6s;
}
.footer__menu-item-2 {
    max-width: 250px;
}
.footer-nav-item:hover:before {
    opacity: 1;
}

#footer-link {
    color: var(--fonovyy-svetlyy)
}

.footer__menu-item-3 {
    margin-top: 60px;
}

.footer-timeinf {
    margin-bottom: 10px;
    display: flex;
    gap: 8px;
}

.footer-geoinf {
    display: flex;
    gap: 8px;
}

.footer__menu-item-4 {
    margin-top: 60px;
}

.footer__menu-item-4-tel {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.6;
    text-transform: uppercase;
    color: var(--fonovyy-svetlyy)
}

.footer__menu-item-4-root {
    margin-top: 47px;
    display: flex;
    gap: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #dec5b1;
    margin-left: 9px;
}


@media (max-width: 1200px) {
    .welcome__img-girl {
        max-width: 377px;
    }
    .welcome__img-control {
        position: static;
        max-width: none;
    }
    .welcome__img-block {
        margin: 0;
    }
    .footer__menu-item-4 {
        grid-column: 1/ -1;
        justify-self: center;
    }
    .footer__menu {
        grid-template-columns: 1.1fr 0.9fr 0.9fr auto;
    }
}
@media (max-width: 900px) {
    .header__nav {
        background-color: var(--fonovyy-svetlyy);
        position: fixed;
        inset: 0;
        z-index: 10;
        justify-content: start;
        font-size: 24px;
        padding: 26vh 15px 30px;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s;
    }
    .header__nav-menu-list {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .body--opened-menu .header__nav {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    .burger__icon {
        display: flex;
    }
    .footer__menu {
        grid-template: none;
        text-align: center;
        justify-content: center;
    }
    .footer__menu-item-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 800px) {
    .welcome__block {
        flex-direction: column;
        text-align: center;
        align-items: center;
        max-width: none;
    }
    .welcome__img-block {
        display: none;
    }
    .welcome__img-control--mobile {
        display: flex;
        margin-bottom: 20px;
        justify-content: center;
        margin-top: 15px;
    }
    .welcome__text-p {
        margin-bottom: 10px;
    }
}
@media (max-width: 600px) {
    .welcome__text-title {
        font-size: 12vw;
    }
    .welcome__block {
        padding-bottom: 80px;
    }
}