
html {
    scroll-behavior: smooth;
    scroll-padding-top: 5vw;
    overflow-x: hidden;
}

.body {
    overflow-x: hidden;
    line-height: 1.5;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    background-color: #fff;
}

.wrapper {
    width: 100%;
    max-height: 100%;
    overflow: visible;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1390px;
    padding: 0px 15px;
    margin: 0px auto;
}

a {
    text-decoration: none;
    color: var(--nabornyy);
}
