:root {
    --font-family: "Open Sans", sans-serif;
    --second-family: "NAMU", sans-serif;
    --white: #fff;
    --black: #111;
    --purple: #c5358c;
    --hover: #ababab;
    --svetliy: #909090;
    --fonoviy-seriy: #DDDDDD;
    --text: #000000;
    --fonoviy-svetloseriy: #F8F8F8;
    --transition: all .4s;
}

.header {
    background-color: var(--black);
}

.header__top {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__burger {
    z-index: 1001;
    display: none;
}

.body--opened-menu .header__burger path {
    stroke: var(--black);
}

.header__logo {}

.header__nav {}

.nav__menu {
    display: flex;
    justify-content: space-between;
    color: var(--white);
    font-family: var(--second-family);
    gap: 30px;
}

.header__inner {
    background-color: var(--fonoviy-seriy);
    position: relative;
    height: 100%;
}

.header__hero {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 88px;
}

.hero__info {
    position: relative;
    z-index: 100;
    max-width: 556px;
}

.hero__title {
    font-family: var(--second-family);
    font-size: 46px;
    line-height: 1.03;
    color: var(--black);
    margin-bottom: 40px;
}

.hero__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 26px;
    line-height: 1.3;
    color: var(--black);
    margin-bottom: 90px;
}

.hero__button {
    border-radius: 3px;
    padding: 15px 51px;
    justify-self: start;
    background: var(--purple);
    font-size: 24px;
    color: var(--white);
    font-weight: 400;
    font-family: var(--font-family);
    cursor: pointer;
}

.hero__img {
    object-position: left;
    overflow: hidden;
    object-fit: cover;
    flex-grow: 1;
    width: 735px;
    top: 0;
}

.hero__img img {}

.main {
    background: var(--white);
}

.offers__menu {
    padding: 150px 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.offers__item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 0;
    box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.05), 0 4px 41px 0 rgba(0, 0, 0, 0.05);
}

.offers__item-info {
    padding: 0 40px 30px 40px;
    transition: var(--transition);
    border-radius: 0 0 10px 10px;
    z-index: 10;
}

.offers__item:hover .offers__item-info {
    background-color: var(--black);
}

.offers__item:hover .offers__item-title {
    color: var(--white);
}

.offers__item:hover .offers__item-text {
    color: var(--white);
}

.offers__item:hover .offers__item-text path {
    fill: var(--white);
}

.offers__item-img {
    border-radius: 10px;
}

.offers__item-img img {
    height: 285px;
    width: 100%;
}

.offers__item-title {
    margin-top: 20px;
    font-family: var(--second-family);
    font-size: 30px;
    color: var(--black);
}

.offers__item-text {
    font-family: var(--font-family);
    align-items: center;
    display: flex;
    gap: 20px;
    margin-top: 10px;
    font-weight: 400;
    font-size: 24px;
    color: var(--black);
}

.about {
    position: relative;
    height: 825px;
    background-color: var(--fonoviy-svetloseriy);
}

.about__info {
    padding-top: 150px;
}

.about__title {
    font-family: var(--second-family);
    font-weight: 900;
    font-size: 42px;
    color: var(--black);
    max-width: 744px;
    margin-bottom: 40px;
    z-index: 2;
    position: relative;
}

.about__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    color: var(--text);
    max-width: 660px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.about__img {
    z-index: 1;
    position: absolute;
    right: 150px;
    bottom: 0;
}

.about__img img {}

.advantages {
    padding: 150px 0px;
}

.advantages__title {
    font-family: var(--second-family);
    font-size: 42px;
    color: var(--black);
    margin-bottom: 60px;
}

.advantages__menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.advantages__item {
    max-width: 440px;
    max-height: 280px;
    padding: 26px 82px 46px 82px;
    box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
}

.advantages__item-img {
    width: 110px;
    height: 110px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.advantages__item-title {
    font-family: var(--second-family);
    font-size: 20px;
    text-align: center;
    color: var(--text);
    margin-bottom: 13px;
}

.advantages__item-text {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    line-height: 1.3;
    text-align: center;
    color: var(--text);
}

.market {
    background: var(--fonoviy-svetloseriy);
    padding: 150px 0px;
}

.market__title {
    font-family: var(--second-family);
    font-weight: 900;
    font-size: 46px;
    line-height: 110%;
    color: var(--black);
    margin-bottom: 50px;
}

.market__title span {
    font-family: var(--second-family);
    font-weight: 900;
    font-size: 46px;
    line-height: 110%;
    color: var(--purple);
}

.market__accordion {
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    align-items: center;
    gap: 15px;
}

.market__nav-block-1 {
    flex-grow: 1;
    display: flex;
    justify-content: start;
    gap: 20px;
}

.market__nav-item {
    border: 1px solid var(--black);
    border-radius: 31px;
    padding: 6px 20px 7px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--black);
}

.market__nav-item:hover {
    border: 1px solid var(--purple);
    color: var(--purple);
    transition: var(--transition);
}

.market__nav-block-2 {
    max-height: 0px;
    overflow: hidden;
    display: flex;
    justify-content: start;
    gap: 20px;
}


.market__nav-control {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--purple);
    text-decoration: underline;
}

.market__accordion.accordion--opened-7 .market__nav-control {
    font-size: 0;
}

.market__accordion.accordion--opened-7 .market__nav-control::after {
    content: "Закрыть";
    font-size: 18px;
}

.market__slider {
    max-width: 100%;
}

.market__catalog {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.catalog__nav {
    align-self: flex-end;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    flex-direction: column;
    position: relative;
}

.catalog__start {
    border: 1px solid var(--purple);
    align-items: center;
    border-radius: 3px;
    padding: 9px 25px 8px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--black);
    display: flex;
    gap: 25px;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    width: 280px;
}

.catalog__start.active {
    color: var(--purple);
}

.catalog__start.active svg {
    transform: rotate(180deg);
}

.catalog__start.active path {
    fill: var(--purple);
}

.catalog__filter {
    margin-top: 10px;
    display: none;
    position: absolute;
    top: 100%;
    z-index: 1000;
}

.catalog__filter.show {
    display: block;
}

.filter__menu {
    display: flex;
    flex-direction: column;
}

.filter__item {
    padding: 7px 15px 8px 15px;
    width: 270px;
    display: flex;
    align-items: center;
    gap: 23px;
    border: 1px solid var(--svetliy);
    justify-content: space-between;
    border-radius: 3px 3px 0 0;
    background: #fdfdfd;
    cursor: pointer;
}

.filter__item.active {
    align-items: center;
}

.filter__item.active .filter__item-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--black);
}

.filter__item-text {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    color: var(--black);
}

.filter__item-img {
    display: none;
}

.filter__item.active .filter__item-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog__slide {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 20px;
}

.catalog__slide-content {
    box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.05);
    background: var(--white);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.catalog__slide-content>img {
    width: 100%;
}

.slide__inner {
    padding: 0px 55px 40px 55px
}

.slide__text {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 24px;
    color: var(--black);
    margin-top: 40px;
    margin-bottom: 25px;
}

.slide__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slide__have {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: #68ae5c;
}

.slide__action {
    border-radius: 3px;
    padding: 10px 20px;
    width: 113px;
    height: 48px;
    background: var(--purple);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: var(--fonoviy-svetloseriy);
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide__info-2 {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slide__all-cost {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 8px;
}

.slide__cost-with {
    font-family: var(--second-family);
    font-weight: 900;
    font-size: 42px;
    color: var(--black);
}

.slide__cost-without {
    font-family: var(--second-family);
    font-weight: 900;
    font-size: 24px;
    text-decoration: line-through;
    color: var(--hover);
}

.slide-control {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.slide__pagination {
    border: 1px solid var(--black);
    border-radius: 3px;
    padding: 23px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    height: 64px;
}

.pagination__minus {
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__minus.disabled path {
    stroke: var(--hover) !important;
}

.pagination__minus path {
    stroke: var(--black);
}

.pagination__number {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 0;
    color: var(--black);
}

.pagination__plus {
    display: flex;
    align-items: center;
}

.slide__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    padding: 10px 20px;
    background: var(--black);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: var(--fonoviy-svetloseriy);
    cursor: pointer;
    transition: var(--transition);
}

.slide__button:hover {
    background-color: var(--purple);
}

.slider__control {
    margin-top: 130px;
    display: flex;
    justify-content: start;
    gap: 20px;
}

.slider__prev {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--black);
    border-radius: 3px;
    padding: 10px 0px;
    width: 64px;
    height: 64px;
    transition: var(--transition);
}

.slider__prev:hover {
    border: 1px solid var(--purple);
}

.slider__prev:hover path {
    fill: var(--purple);
}

.swiper-button-disabled.slider__prev path {
    fill: var(--hover);
}

.swiper-button-disabled.slider__prev {
    border: 1px solid var(--black);
}

.slider__next {

    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--black);
    border-radius: 3px;
    padding: 10px 0px;
    width: 64px;
    height: 64px;
    transition: var(--transition);
}

.slider__next:hover {
    border: 1px solid var(--purple);
}

.slider__next:hover path {
    fill: var(--purple);
}

.swiper-button-disabled.slider__next path {
    fill: var(--hover);
}

.swiper-button-disabled.slider__next {
    border: 1px solid var(--black);
}

.slider__pagination {
    display: flex;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: var(--black);
}

.reviews {
    padding: 150px 0px;
}

.reviews__main-title {
    font-family: var(--second-family);
    font-size: 42px;
    color: var(--black);
}

.reviews__main-title span {
    color: var(--purple);
}

.reviews__form {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    margin-bottom: 50px;
}

.form__starcount {
    display: flex;
    flex-direction: column;
}

.form__pagination {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 30px;
    color: var(--black);
}

.form__pagination span {
    font-weight: 400;
    font-size: 20px;
}

.form__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--black);
    border-radius: 3px;
    padding: 15px 20px;
    width: 270px;
    height: 64px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    color: var(--black);
    cursor: pointer;
}

.reviews__form.accordion--opened-2 .form__button {
    display: none;
}

.form__button:hover {
    color: var(--purple);
    border: 1px solid var(--purple);
}

.form__review {
    display: grid;
    grid-template-columns: 2fr 0.5fr 0.5fr;
    flex-direction: row;
    max-height: 0px;
    overflow: hidden;
    gap: 15px;
}

.form__review-text {
    font-size: 20px;
    text-align: center;
    border: 1px solid var(--black);
}

.form__review-name {
    font-size: 20px;
    text-align: center;
    border: 1px solid var(--black);
}

.form__review-submit {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--black);
    border-radius: 3px;
    padding: 15px 20px;
    width: 270px;
    height: 64px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: var(--black);
    cursor: pointer;
}

.form__review-submit:hover {
    border: 1px solid var(--purple);
}

.form__review-submit:hover .form__review-submit__input {
    color: var(--purple);
}

.form__review-submit__input {
    background-color: var(--white);
    font-size: 24px;
    cursor: pointer;
}

.reviews__menu {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.reviews__block {
    margin: 40px 0px;
    display: flex;
    gap: 70px;
    justify-content: space-between;
}

.reviews__name {
    margin-bottom: 15px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: var(--black);
}

.reviews__starcount {
    display: flex;
    gap: 3px;
}

.reviews__content {
    flex-grow: 1;
}

.reviews__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: var(--black);
    margin-bottom: 10px;
}

.reviews__text {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;
    color: var(--black);
    margin-bottom: 30px;
    max-width: 783px;
}

.reviews__photo {
    display: flex;
    flex-direction: column;
}

.reviews__photo.accordion--opened .photo-accordion {
    font-size: 0;
}

.reviews__photo.accordion--opened .photo-accordion::after {
    content: 'Закрыть';
    font-size: 18px
}

.reviews__img {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.reviews__img-2 {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    max-height: 0px;
    overflow: hidden;
}


.photo-accordion {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--purple);
    text-decoration: underline;
    margin-bottom: 20px;
}

.mobile__reviews-date {
    margin-top: 20px;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    color: var(--svetliy);
    display: none;
}

.reviews__date {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: var(--svetliy);
}

.review__accordion {
    max-height: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.review__accordion-button {
    cursor: pointer;
    align-self: center;
    margin-top: 80px;
    padding: 10px 10px 10px 20px;
    display: flex;
    gap: 30px;
    align-items: center;
    border: 1px solid var(--black);
    font-size: 24px;
    font-family: var(--font-family);
    font-weight: 500;
    color: var(--black);
    justify-content: center;
    border-radius: 3px;
    transition: all 0.05s;
}

.review__accordion-button:hover {
    border: 1px solid var(--purple);
    color: var(--purple);
}

.review__accordion-button:hover path {
    fill: var(--purple);
}

.reviews__menu.accordion--opened-3 .review__accordion-button {
    font-size: 0;
    padding: 0;
    display: block;
    padding: 20px 10px;
}

.reviews__menu.accordion--opened-3 .review__accordion-button svg {
    display: none;
}

.reviews__menu.accordion--opened-3 .review__accordion-button::after {
    font-size: 24px;
    content: 'Свернуть';
    font-family: var(--font-family);
    font-weight: normal;
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews__menu.accordion--opened-3 .review__accordion-button:hover:after {
    color: var(--purple);
}

.FAQ__title {
    font-size: 42px;
    font-family: var(--second-family);
    color: var(--black);
    margin-bottom: 60px;
}

.FAQ {
    padding: 150px 0px;
    background-color: var(--fonoviy-svetloseriy);
}

.FAQ__accordions {
    margin-top: 15px;
}

.FAQ__accordion {}

.FAQ__accordion.accordion--opened-4 .FAQ__button {
    transform: rotate(45deg);

}

.FAQ__accordion.accordion--opened-4 .FAQ__button path {
    fill: var(--purple);
}

.FAQ__accordion-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.FAQ__text {
    font-size: 20px;
    font-family: var(--font-family);
    font-weight: normal;
}

.FAQ__button {
    transition: var(--transition);
}

.FAQ__button path {
    transition: var(--transition);
}

.FAQ__accordion-content {
    transition: var(--transition);
    max-height: 0px;
    overflow: hidden;
}

.FAQ__content-text {
    margin-top: 50px;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: var(--black);
    max-width: 908px;
}

.FAQ__line {
    margin-top: 35px;
    margin-bottom: 30px;
}

.news {
    padding: 150px 0px;
}

.news__title {
    font-family: var(--second-family);
    font-weight: 900;
    font-size: 42px;
    color: var(--black);
    margin-bottom: 70px;
}

.news__grid {
    display: flex;
    gap: 20px;
}

.news__block {
    max-width: 440px;
}

.news__date {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    color: var(--svetliy);
    margin-top: 30px;
}

.news__block-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: var(--black);
    margin-top: 20px;
}

.news__text {
    margin-top: 15px;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    line-height: 1.2;
    color: var(--text);
    margin-bottom: 20px;
}

.news__accordion {}

.news__accordion-button {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--purple);
    text-decoration: underline;
    cursor: pointer;
}

.news__accordion.accordion--opened-5 .news__accordion-button {
    font-size: 0;
}

.news__accordion.accordion--opened-5 .news__accordion-button::after {
    content: 'Закрыть';
    font-size: 18px
}

.news__accordion-text {
    max-height: 0px;
    overflow: hidden;
    margin-top: 15px;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    line-height: 1.2;
    color: var(--text);
}

.accordion__control {
    display: flex;
    flex-direction: column;
}

.accordion__control-button {
    cursor: pointer;
    align-self: center;
    margin-top: 80px;
    padding: 10px 10px 10px 20px;
    display: flex;
    gap: 30px;
    align-items: center;
    border: 1px solid var(--black);
    font-size: 24px;
    font-family: var(--font-family);
    font-weight: 500;
    color: var(--black);
    justify-content: center;
    border-radius: 3px;
    transition: all 0.05s;
    margin-bottom: 40px;

}

.accordion__control.accordion--opened-6 .accordion__control-button {
    font-size: 0;
    padding: 0;
    display: block;
    padding: 20px 10px;
}

.accordion__control.accordion--opened-6 .accordion__control-button svg {
    display: none;
}

.accordion__control.accordion--opened-6 .accordion__control-button::after {
    font-size: 24px;
    content: 'Свернуть';
    font-family: var(--font-family);
    font-weight: normal;
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion__control.accordion--opened-6 .accordion__control-button:hover:after {
    color: var(--purple);
}

.accordion__control-button:hover {
    border: 1px solid var(--purple);
    color: var(--purple);
}

.accordion__control-button:hover path {
    fill: var(--purple);
}

.accordion__content {
    max-height: 0px;
    overflow: hidden;
    transition: var(--transition);
}

.form {
    padding: 150px 0px 114px 0px;
    background: var(--fonoviy-svetloseriy);
}


.form__title {
    display: flex;
    gap: 367px;
}

.form__title {
    font-family: var(--second-family);
    font-weight: 900;
    font-size: 42px;
    color: var(--black);
}

.form__inner {
    display: flex;
    gap: 200px;
}

.form-1 {
    display: flex;
    flex-direction: column;
}

.form-1__name {
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--black);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    background: var(--fonoviy-svetloseriy);
    margin-top: 50px;
}

.form-1__tel {
    width: 100%;
    margin-top: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--black);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    background: var(--fonoviy-svetloseriy);
}

.form-1__submit {
    border-radius: 3px;
    padding: 10px;
    width: 277px;
    height: 64px;
    background: var(--black);
    margin-top: 70px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: var(--white);
    transition: var(--transition);
    cursor: pointer;
}

.form-1__submit:hover {
    background: var(--purple);
}

.form-2 {
    display: flex;
    flex-direction: column;
}

.form-2__email {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    margin-top: 50px;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--black);
    background: var(--fonoviy-svetloseriy);
}

.form-2__submit {
    cursor: pointer;
    transition: var(--transition);
    margin-top: 70px;
    border-radius: 3px;
    padding: 10px;
    width: 244px;
    height: 64px;
    background: var(--black);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: var(--white);
    margin-bottom: 35px;
}

.form-2__submit:hover {
    background: var(--purple);
}

.form-2__checkbox {
    position: relative;
    border: 1px solid var(--black);
    border-radius: 3px;
    width: 30px;
    height: 30px;
    appearance: none;
    flex-shrink: 0;
    cursor: pointer;
}

.checkbox__inner {
    gap: 16px;
    display: flex;
    align-items: center;
}

.checkbox__inner {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: var(--text);
}

.checkbox__inner svg {
    position: absolute;
    right: 924px;
}

.form-2__checkbox::before {
    content: '';
    position: absolute;
    inset: 0;
    transition: all 0.3s;
    opacity: 0;
    background: url("../img/icons/check.png") no-repeat 50% 50%;
}

.form-2__checkbox:checked::before {
    opacity: 1;
}

.footer {
    background-color: var(--black);
    padding: 41px 0px 66px 0px;
}

.footer__inner {
    display: flex;
    flex-direction: column;
}

.footer__about {
    font-family: var(--second-family);
    font-weight: 900;
    font-size: 24px;
    color: var(--white);
    margin-top: 25px;
}

.footer__menu {
    margin-bottom: 66px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 75px;
}

.footer__item:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.footer__item-title {
    font-family: var(--second-family);
    font-weight: 900;
    font-size: 24px;
    color: var(--white);
    margin-bottom: 10px;
}

.footer__item-link {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    color: var(--white);
}

.footer__copy {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: var(--white);
    margin-top: 76px;
    grid-column: span 2;
}

.footer__tel {
    font-family: var(--font-family);
    font-weight: 700;
    color: var(--white);
    font-size: 24px;
    margin-bottom: 54px;
    margin-top: 0px;
}

.footer__socials {
    display: flex;
    gap: 20px;
}

.footer__item-block {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.footer__item:last-child {
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 1700px) {
    .about__img {
        right: 50px;
    }
}

@media (max-width: 1450px) {
    .market__accordion {
        justify-content: space-between;
    }

    .about {
        height: auto;
    }

    .about__info {
        padding: 80px 0px;
    }

    .about__img {
        display: none;
    }

    .about__text {
        max-width: none;
    }

    .advantages__menu {
        grid-template-columns: repeat(2, 1fr);
    }

    .advantages__item {
        gap: 10px;
        justify-self: start;
        text-align: left;
        padding: 20px 10px;
        width: 100%;
    }

    .advantages__item-title {
        width: 100%;
        text-align: left;
        justify-content: start;
    }
}

@media (max-width: 1400px) {
    .header__hero {
        gap: 20px;
    }

    .hero__img img {
        width: 130%;
    }

    .hero__img {
        object-position: left;
        overflow: hidden;
        object-fit: cover;
    }

    .news__block img {
        width: 100%;
    }

    .form__inner {
        gap: 15px;
        justify-content: space-between;
    }

    .form__title {
        gap: 15px;
        justify-content: space-between;
    }
}

@media (max-width: 1200px) {
    .market__nav-block-1 {
        justify-self: start;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .market__nav-block-2 {
        justify-self: start;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .header__burger {
        display: block;
    }

    .header__nav {
        background-color: var(--white);
        position: fixed;
        inset: 0;
        z-index: 1000;
        justify-content: start;
        font-size: 24px;
        padding: 26vh 15px 30px;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s;
    }

    .nav__menu {
        color: var(--black);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 70px;
    }

    .body--opened-menu .header__nav {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .offers__menu {
        grid-template-columns: repeat(4, 1fr);

    }

    .offers__item {
        justify-self: center;
        width: 100%;
        align-items: center;
    }

    .offers__item-info {
        width: 100%;
        padding: 0 10px 10px;
    }

    .offers__item-img img {
        height: 100%;
    }

    .offers__item-title {
        font-size: 2.5vw;
        justify-content: center;
        text-align: start;
    }

    .offers__item-text {
        justify-content: start;
        font-size: 2vw;
    }

    .offers__item-text svg {
        width: 20px;
        height: 20px;
    }

    .slide__pagination {
        gap: 25px;
    }

    .slide__text {
        margin-top: 0;
    }

    .slide__cost-with {
        font-size: 30px;
    }

    .slide__cost-without {
        font-size: 21px;
    }

    .slide__inner {
        padding: 10px 20px 84px 20px;
    }

    .catalog__slide-content {
        position: relative;
    }

    .slide-control {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }

    .slide__button {
        padding: 10px 5px;
    }

    .FAQ__button svg {
        width: 25px;
        height: 25px;
    }

    .form__review {
        grid-template-columns: 2fr 1fr;
    }

    .form__review-text {
        grid-column: span 2;
        height: 50px;
    }

    .form__review-name {
        height: 50px;
    }

    .form__inner {
        flex-direction: column;
        gap: 50px;
    }

    .form-1 {
        align-items: center;
    }

    .form-1__name {
        text-align: start;
    }

    .form-1__tel {
        text-align: start;
    }

    .form-2 {
        align-items: center;
    }

    .form-2__email {
        text-align: start;
    }

    .checkbox__inner {
        margin-top: 30px;
        order: 4;
    }

    .form-2__submit {
        margin-top: 30px;
        order: 5;
    }

    .footer__menu {
        display: flex;
        flex-direction: column;
    }

    .footer__item:first-child {
        justify-content: start;
        gap: 50px;
    }

    .footer__tel {
        margin: 0;
    }
}

@media (max-width: 950px) {
    .advantages__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .catalog__slide {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .form__review {
        display: flex;
        flex-direction: column;
    }

    .mobile__reviews-date {
        display: block;
    }

    .reviews__date {
        display: none;
    }

    .news__block:last-child {
        display: none;
    }
}

@media (max-width: 700px) {
    .hero__button {
        font-size: 3vw;
    }

    .hero__title {
        font-size: 6vw;
    }

    .about__title {
        font-size: 6vw;
    }

    .hero__text {
        font-size: 3.5vw;
    }

    .about__text {
        font-size: 3.5vw;
    }

    .advantages__title {
        font-size: 6vw;
    }

    .advantages__item-img {
        padding: 10px;
        width: 74px;
        height: 74px;
    }

    .advantages__item-img img {
        object-fit: contain;
        width: 74px;
        height: 74px;
    }

    .advantages__item-title {
        font-size: 14px;
    }

    .advantages__item-text {
        font-size: 12px;
    }

    .market__title {
        font-size: 8vw;
    }

    .market__title span {
        font-size: 8vw;
    }

    .reviews__main-title {
        font-size: 8vw;
    }

    .reviews__main-title span {
        font-size: 8vw;
    }

    .FAQ__title {
        font-size: 8vw;
    }
    .news__title {
        font-size: 8vw;
    }
    .reviews__starcount img {
        height: 15px;
        width: 15px;
    }

    .reviews__form {
        flex-direction: column;
    }

    .hero__button {
        padding: 5px 30px;
    }

    .hero__text {
        margin-bottom: 40px;
    }

    .offers__menu {
        grid-template-columns: repeat(2, 1fr);
        padding: 80px 0px;
    }

    .offers__item-title {
        font-size: 5vw;
    }

    .offers__item-text {
        font-size: 3vw;
    }

    .advantages {
        padding: 80px 0px;
    }

    .market {
        padding: 80px 0px;
    }

    .reviews {
        padding: 80px 0px;
    }

    .FAQ {
        padding: 80px 0px;
    }

    .news {
        padding: 80px 0px;
    }

    .market__nav-block-1 {
        display: flex;
        flex-wrap: wrap;
    }

    .market__nav-block-2 {
        display: flex;
        flex-wrap: wrap;
    }

    .market__nav-item {}

    .header__hero {
        padding-bottom: 150px;
    }

    .hero__info {
        min-width: 78%;
        margin-top: 40px;
    }

    .hero__title {
        max-width: none;
    }

    .hero__img img {
        position: absolute;
        width: 60%;
        bottom: 0;
        right: 0;
    }

    .hero__text {

        max-width: 300px;
    }
}

@media (max-width: 650px) {
    .catalog__slide {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 600px) {

    .reviews__block {
        flex-direction: column;
    }

    .FAQ__accordion-control {
        gap: 10px;
    }

    .news__grid {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .footer__item:first-child {
        flex-direction: column;
    }

    .footer__item:last-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer__item-block {
        align-items: center;
    }

    .footer__about {
        text-align: center;
    }

    .footer__logo {
        display: flex;

        justify-content: center;
    }
}

@media (max-width: 500px) {
    .advantages__item-text {
        text-align: left;
    }
    .advantages__item-title {
        max-width: 276px;
            align-items: center;
        display: flex;
        margin: 0;
    }

    .advantages__item {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        padding: 20px 10px;
    }

    .advantages__item-img {
        grid-row: span 2;
    }

    .form__title {
        text-align: center;
    }
}